<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css')}}">
    </head>
    <body>
    <form action="/auth" method="POST">
        Email: <input type="text" name="html_email" value="">
        <br>
        Password: <input type="password" name="html_pw" value="">
        <br>
        <input type="submit" name="" value="login">
    </form>
    </body>
</html>