<!DOCTYPE html>
<html lang="en">
    <head>
        {% load staticfiles %}
        <title>Course Catalogue</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'courses/css/style.css' %}">
    </head>
    <body>
        <div id="wrapper">
            <h2>Course Asignment</h2>
            <p>Click <a href="{% url 'courses:assignment' %}">here</a> to assign courses to students.
            <h2>Add a Course</h2>
            <form action="{% url 'courses:submit' %}" method="POST">
            {% csrf_token %}
                <label for="coursename">Name:</label>
                <input type="text" name="coursename">
                <br>
                <label for="coursedesc">Description:</label>
                <br>
                <textarea type="text" name="coursedesc" cols=32 rows=5></textarea>
                <br>
                <button type="submit" name="submitcourse">Add</button>
            </form>
            <h2>Courses</h2>
            <table>
                <tr>
                    <th>Course Name</th>
                    <th>Description</th>
                    <th>Date Added</th>
                    <th>Actions</th>
                </tr>
                {% for course in courses %}
                <tr>
                    <td>{{ course.name }}</td>
                    <td>{{ course.description }}</td>
                    <td>{{ course.created_at }}</td>
                    <td><a href="/courses/delete/{{course.id}}">Delete</a></td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </body>
</html>