<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Secrets Login</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <h2>Register</h2>
        <form action="{% url 'secrets:secrets_register' %}" method="POST">
            {% csrf_token %}
            <label for="first_name">First Name:</label><br>
            <input type="text" name="first_name"><br>
            <label for="last_name">Last Name:</label><br>
            <input type="text" name="last_name"><br>
            <label for="email">Email:</label><br>
            <input type="text" name="email"><br>
            <label for="password">Password:</label><br>
            <input type="password" name="password"><br>
            <label for="confirm">Confirm Password:</label><br>
            <input type="password" name="confirm"><br>
            <button type="submit">Register</button>
        </form>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.error %} class="{{ message.error }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        <h2>Login</h2>
        <form action="{% url 'secrets:secrets_login' %}" method="POST">
            {% csrf_token %}
            <label for="user_email">Email: </label><br>
            <input type="text" name="user_email"><br>
            <label for="user_pw">Password: </label><br>
            <input type="password" name="user_pw"><br>
            <button type="login">Login</button>
        </form>
    </body>
</html>