<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Popular Secrets</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
        <h2>Most Popular Secrets</h2>
        {% for secret in secrets %}
        {{ secret.secret_text }}
        ({{ secret.created_at }}) Likes: {{ secret.like_count }}<br><br>
        {% endfor %}
        <a href="{% url 'secrets:secrets_recent' %}">Back to Recent</a>
    </body>
</html>