<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Recent Secrets</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
    <h2>Hello, {{ request.session.user }}.</h2>
    <form action="{% url 'secrets:secret_submit' %}" method="POST">
        {% csrf_token %}
        <textarea name="submitsecret" cols="30" rows="10">Your secret here...</textarea><br>
        <button type="submit">Submit</button>
    </form>
    <a href="{% url 'secrets:secrets_popular' %}">Most popular secrets</a>
    <h2>Recent Secrets</h2>
    {% for secret in secrets %}
        {{ secret.secret_text }}
        ({{ secret.created_at }})
        {% if secret.id in likes %}
            <a href="{% url 'secrets:unlike_secret' id=secret.id %}">UnLike</a>        
        {% else %}
            <a href="{% url 'secrets:like_secret' id=secret.id %}">Like</a>         
        {% endif %}
        <br> 
    {% endfor %}
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.error %} class="{{ message.error }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </body>
</html>