<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css')}}">
        <script type="text/javascript" src="{{ url_for('static', filename='js/script.js')}}"></script>
       <title>Form Test Index</title>
    </head>
    <body>
        <div id="wrapper">
            <div id="formbox">
                <form action='/result' method='POST'>
                    <div class="formgrp">
                        <label for="name">Your Name:</label> <input type='text' name='name'>
                    </div>
                    <div class="formgrp">
                        <label for="dojo">Dojo Location:</label>
                        <select name="dojo">
                            <option value="Chicago">Chicago</option>
                            <option value="San Francisco">San Francisco</option>
                            <option value="San Jose">San Jose</option>
                            <option value="Seattle">Seattle</option>
                        </select>
                    </div>
                    <div class="formgrp">
                    <label for="language">Favorite Language:</label>
                        <select name="language">
                            <option value="Python">Python</option>
                            <option value="Javascript">Javascript</option>
                            <option value="Ruby">Ruby</option>
                        </select>
                    </div>
                    <label for="comment">Comment (optional):</label>
                    <textarea name="comment" rows="10" cols="33">Comments</textarea>
                    <input type='submit' value='submit'>
                </form>
            </div>
        </div>
    </body>
</html>