<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Email DB</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--<link href="css/style.css" rel="stylesheet">-->
    </head>
    <body>
    Email Address: 
    <form action="/validate" method="POST">
        <input type="text" name="emailinput" value="">
        <button type="submit" name="submit">Validate</button>
    </form>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
        <p>{{message}}</p>
      {% endfor %}
    {% endif %}
  {% endwith %}
    </body>
</html>