<!DOCTYPE html>
<html lang="en">
    <head>
        {% load staticfiles %}
        <title>Disappearing Ninjas</title>
        <link rel="stylesheet" href="{% static 'tmnt/css/style.css' %}">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <div id="wrapper">
            <h1>No ninjas here</h1>
            <a href="/ninja">Ninja</a>
            <a href="/ninja/blue">Blue</a>
            <a href="ninja/red">Red</a>
            <a href="ninja/orange">Orange</a>
            <a href="ninja/purple">Purple</a>
        </div>
    </body>
</html>