<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Edit Friend</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css')}}">
    </head>
    <body>
        <div id="wrapper">
            <div id="friendbox">
                <h1>Update Friend Info</h1>
                <div id="addinfo">   
                    <form action="/submitedit" method="POST">
                        First Name: <input type="text" name="first_name">
                        Last Name: <input type="text" name="last_name">
                        Email: <input type="text" name="email">
                        <button type="submit" name="submit">Update Info</button>
                    </form>
                </div>
                <div id="currentinfo">
                    <h3>Current Info</h2>
                    {% for friend in allfriends %}
                            {{ friend.first_name }}
                            {{ friend.last_name }}
                            {{ friend.email }}
                    {% endfor %}
                </div>
            </div>
        </div>
    </body>
</html>