<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Friends List</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css')}}">
    </head>
    <body>
    <div id="wrapper">
        <div id="friendbox">
            <h1>Friends</h1>
            <div id="addinfo">
                <h2> Add a friend </h2>
                <form action="/addfriend" method="POST">
                    First Name: <input type="text" name="first_name">
                    Last Name: <input type="text" name="last_name">
                    Email: <input type="text" name="email">
                    <button type="submit" name="submit">Add Friend</button>
                </form>
            </div>
            <div id="friendlist">
                <h3>Friends List</h3>
            {% for friend in allfriends %}
               <p> {{ friend.first_name }}
                {{ friend.last_name }}</p>
                <p>{{ friend.email }}</p>
                <form action="editfriend/{{ friend['id'] }}">
                <button name="edit" type="submit">Edit</button>
                </form>
                <form action="deletefriend/{{ friend['id'] }}" method="POST">
                <button name="remove" type="submit">Delete</button>
                </form>
            {% endfor %}
            </div>
        </div>
    </div>
    </body>
</html>