<!DOCTYPE html>
<html lang="en">
    <head>
        <title>All Ninjas</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css')}}">
        <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
    <img src="/static/img/leonardo.jpg"/>
    <h1>Lennny</h1>
    <a href="/">Home</a>
    </body>
</html>