<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Edit Product</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
        <h2>Edit Product Info</h2>
        {% for p in product %}
        <form action="{% url 'products:submit_edit' %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="product_id" value="{{ p.id }}">
            <label for="product_name">Name: </label><br>
            <input type="text" name="product_name" value="{{ p.name }}"><br>
            <label for="product_name">Description: </label><br>
            <textarea name="product_desc" cols="30" rows="10">{{ p.description }}</textarea><br>
            <label for="product_name">Price: </label><br>
            <input type="number" min="0.01" step="0.01" name="product_price" value="{{ p.price }}">
            <button type="submit">Submit</button>
        </form>
        {% endfor %}
    </body>
</html>
