<!DOCTYPE html>
<html lang="en">
    <head>
        <title>BOOP</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css')}}">
    </head>
    <body>
        <div id="wrapper">
            <div id="boop">
                <img src="http://i.imgur.com/d4nU9qR.gif"/>
                <h2>BOOP</h2>
                <form action="/logout" method="POST">
                    <button name="logout" type="submit">Logout</button>
                </form>
            </div>
        </div>
    </body>
</html>